body.blocked {
    background-color: black;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blocked-messages {
    text-align: center;
    font-size: 24px;
    margin-top: 20%;
}

.blocked-messages p {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.blocked-messages p + p {
    font-size: 18px;
    color: white;
    font-style: italic;
}

body.bg-dark {
    background-color: #343a40 !important;
    color: #ffffff !important;
}

textarea.bg-dark {
    background-color: #343a40 !important;
    color: #ffffff !important;
    border: 1px solid #495057;
}

.form-check-label {
    color: #ffffff !important;
}

.btn-secondary {
    background-color: #6c757d !important; /* Custom color for the button */
    border-color: #6c757d !important;
    color: #ffffff !important;
}

.btn-secondary:hover {
    background-color: #5a6268 !important; /* Darker shade for hover effect */
    border-color: #545b62 !important;
}